version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore(deps)"
      
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    commit-message:
      prefix: "chore(deps)"